out
node_modules
client/server
.idea
.vscode-test
.vscode/settings.json
server/libs/
server/target/
env
*.pyc
*.log
*.vsix
*.lock
vscode/package-lock.json
vscode/.nox
vscode/__pycache__
vscode/requirements.txt
vscode/server
vscode/CHANGELOG.md
vscode/package-lock.json
