vscode/client/out
vscode/node_modules
.vscode/settings.json
server/libs/
*.pyc
*.log
*.vsix
vscode/package-lock.json
vscode/.nox
vscode/__pycache__
vscode/requirements.txt
vscode/server
vscode/CHANGELOG.md
vscode/package-lock.json
