.vscode/**
**/.gitignore
.gitmodules
**/.git
**/.github
**/*.vsix
**/*.map
**/*.ts
**/README.MD
build_package.sh
**/tsconfig.json
**/tsconfig.base.json
tslint.json
package.json
package-lock.json
.eslintrc.yml
*pygls.log
node_modules/
**/*.pyc
**/tests/
**/test_cases/
.pytest_cache

!node_modules/@bendera/vscode-webview-elements/**
!node_modules/@vscode/codicons/**
!node_modules/@vscode/webview-ui-toolkit/**
!node_modules/axios/**
!node_modules/ejs/**
!node_modules/vscode-languageclient/**
