#config-body {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  #config-body {
    padding: 0 8rem;
    max-width: 1024px;
    margin-right: auto;
  }
}

#config-form {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1.5rem;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
}

input:not([type='checkbox']),
textarea {
	display: block;
	width: 100%;
	border: none;
	font-family: var(--vscode-font-family);
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	color: var(--vscode-input-foreground);
	outline-color: var(--vscode-input-border);
	background-color: var(--vscode-input-background);
}

#save-config {
  width: fit-content;
}

#welcome-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-logo {
  width: 200px;
  margin-top: 2em
}
