.vscode/**
**/.gitignore
.gitmodules
**/.git
**/.vscode
**/.github
**/*.vsix
**/*.map
**/*.ts
**/README.MD
build_package.sh
**/tsconfig.json
**/tsconfig.base.json
tslint.json
package.json
package-lock.json
.eslintrc.yml
*pygls.log
node_modules/
**/*.pyc
**/tests/
**/test_cases/
.pytest_cache
**/.nox/
**/noxfile.py
**/requirements.txt
**/requirements.in
**/venv/
**/__pycache__/

!node_modules/@vscode-elements/elements/**
!node_modules/@vscode/codicons/**
!node_modules/axios/**
!node_modules/ejs/**
!node_modules/vscode-languageclient/**
!node_modules/untildify/**
