<div class="alert welcome-header">
    <center>WARNING</center><br/>
    You are running a pre-release version (<%= version %>) of this extension. Not everything will work as expected.</br>
    Crash reports will send NOT ANONYMOUS data to Odoo to help the development of the extension.</br>
    A window with all the data that will be sent will be prompted before sending to let you review it.</br>
    Will be sent on a crash: vscode logs, extension logs, opened files, opened folders paths.
</div>