<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="module" nonce="<%= nonce %>" src="<%= webviewElementsUri %>"></script>
        <script type="module" nonce="<%= nonce %>" src="<%= mainUri %>"></script>
        <link rel="stylesheet" href="<%= styleUri %>">
        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src <%= cspSource %>; img-src <%= cspSource %> https:; font-src <%= cspSource %>; script-src 'nonce-<%= nonce %>';">

    </head>
    <body id="welcome-body">
        <div id="welcome-container">
            <a class="welcome-header" href = "https://odoo.com">
                <img src="https://odoocdn.com/openerp_website/static/src/img/assets/png/odoo_logo.png" id="welcome-logo" />
            </a>
            <h1 class="welcome-header">Welcome to Odoo</h1>
            <div class="welcome-header" id="welcome-title">
                Odoo Language Server will help you to write Odoo modules by providing you with autocompletion, hover, goto definition, code analysis and more.
            </div>
            <%- alertHTML %>
            <div class="display-welcome-checkbox welcome-header">
                <vscode-checkbox id="displayOdooWelcomeOnStart" <%= displayOnStartupCheckbox %>>Show Odoo welcome page on startup</vscode-checkbox>
            </div>
            <h2>How to install ?</h2>
            <section>
                If you see this message, it means that your extension is already installed. But to make it shine, it is better to ensure that no other language server is actually running concurrently with this extension.
                <br/>
                The extension is made to work alone or with the Python Extension of VsCode (ms-python.python). If you have another Python language server however, you should probably deactivate it
                to avoid double autocompletion and to remove wrong error diagnotics. To do that, you can go in the "Extensions" tab, search for your language server and click on "Disable" or "Disable (workspace)".
                <br/>
                On start-up the extension will prompt you to disable the Language Server from the Python extension, that behavior can be altered in the settings.
            </section>
            <h2> How to use the extension ? </h2>
            <section>
                <p>
                    The extension works by setting up a configuration, then analyzing your code with the loaded configuration.</br>
                    You first have to create the configurations you'll use later.
                </p>
                <p>
                    Your available configurations are displayed here:<br/>
                    <img class="img-margins" src="<%= image_1 %>" /><br/>
                    Click on it to select it, or the eye icon at the edge to see that specific configuration<br/>
                    You could also just See all the configurations by clicking on the "See all configurations" button.<br/>
                    <img class="img-margins" src="<%= image_2 %>" /><br/>
                </p>
            </section>
            <h2> Configuration </h2>
            <section>
                For information on how to create a configuration, please refer to the <a href="https://github.com/odoo/odoo-ls/wiki/Configuration-files">configuration guide on the wiki</a>.
            </section>
        </div>
    </body>
</html>