body {
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

h1, h2 {
   padding-bottom: 10px;
}

body.vscode-dark > :is(h1, h2) {
   border-bottom: 1px solid rgba(255,255,255,0.18);
}

body.vscode-light > :is(h1, h2) {
   border-bottom: 1px solid rgba(0,0,0,0.18);
}
