@media screen and (min-width: 1024px) {
  body {
    padding: 0 8rem;
    max-width: 1024px;
    margin-right: auto;
  }
}

#config-path-textfield {
  width: 80%;
}

#config-addons > vscode-label > label {
  padding: 0;
  margin-bottom: 2px;
}

#addons-scrollable {
  height: 200px;
  width: 100%;
  border: 1px solid var(--vscode-input-border);
  background-color: var(--vscode-input-background);
  box-sizing: border-box;

}

#addons-tree {
  width: 100%;
  color: var(--vscode-input-foreground);
  font-family: var(--vscode-font-family);
}

#add-folder-container {
  margin-top: 2px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: end;
}

#add-folder-button { 
  display: flex;
  box-sizing: border-box;
  padding: 0.5em;
  user-select: none;
}

#add-folder-button:hover {
  cursor: pointer;
  background-color: var(--vscode-settings-rowHoverBackground);
}

#add-folder-button:active {
  background-color: var(--vscode-input-background);
}

#path-helper-valid {
  color: green;
}

#path-helper-invalid {
  color: var(--vscode-errorForeground);
}